<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MadMilkman.Ini" version="1.0.5.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="NHotkey" version="1.2.1" targetFramework="net4" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net4" />
</packages>